@tailwind base;
@tailwind components;
@tailwind utilities;

.bgb {
    background-image: url('/public/IMG/Lost&Found2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}