<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lost Anf Found</title>
  </head>
  <body>
    <h1>Welcome to Lost and Found Home Page</h1>
    <button><a href="/found">Found</a></button>
    <button><a href="/lost">Lost</a></button>
    <br />
  </body>
</html>
