<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Teko:wght@700&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
    <title>FOUR-X</title>
</head>

<style>
    .bgb {
        background-image: url('/Lost&Found2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<body class="text-white font-poppins bgb">

    <!-- Navbar -->
    <nav class="fixed py-6 w-full bg-black z-50 toptobottom">
        <div
            class="container flex items-center justify-center md:justify-between mx-auto px-8 md:px-14 lg:px-20 w-full">
            <div class="text-3xl font-semibold text-white">
                <span class="text-[#3f3fff]">FOUR</span>X
            </div>

            <div class="hidden md:flex space-x-12 items-center">
                <a href="#" class="text-white font-bold" aria-current="page">CONTACT US</a>
                <a
                    href="https://www.canva.com/design/DAFNEG9L8-8/F_hss_tpW4W3Aldz03Ke6Q/view?utm_content=DAFNEG9L8-8&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">
                    <button class="rounded-2xl p-2 px-4 py-3 text-lg font-bold bg-[#3f3fff] hover:bg-[#1f1fff]">About
                        us</button>
                </a>
            </div>
        </div>
    </nav>

    <!-- Buttons -->
    <div
        class="w-full flex justify-start md:justify-center space-x-12 pl-[4rem] md:pl-[12rem] pt-[7rem] md:pt-[32rem] ">
        <button
            class="rounded-xl px-4 py-2 md:px-10 md:py-4 text-white text-2xl font-bold mt-12 space-x-3 bg-[#3f3fff] hover:bg-[#1f1fff]">
            <a href="/found">
                <span class="">
                    Found
                </span>
            </a>
        </button>
        <button
            class="rounded-xl px-6 py-2 md:px-12 md:py-5 text-white text-2xl font-bold mt-12 space-x-3 bg-[#3f3fff] hover:bg-[#1f1fff]">
            <a href="/lost"><span>Lost</span></a>
        </button>
    </div>
</body>
<script src="/script.js"></script>
<script src="/views/found.ejs"></script>
<script src="/views/home.ejs"></script>

</html>