<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Teko:wght@700&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
    <title>FOUR-X</title>
</head>

<style>
    html,
    body {
        scroll-behavior: smooth;
    }

    [id] {
        scroll-margin-top: 100px;
    }
</style>

<body class="text-white font-poppins bg-black">

    <!-- Navbar -->
    <nav class="fixed py-6 w-full bg-black z-50 toptobottom">
        <div
            class="container flex items-center justify-center md:justify-between mx-auto px-8 md:px-14 lg:px-20 w-full">
            <div class="md:text-3xl text-3xl font-semibold text-white">
                <span class="text-[#3f3fff]">FOUR</span>X
            </div>

            <div class="hidden md:flex space-x-10 items-center">
                <!-- <button data-tooltip-target="tooltip-bottom3" data-tooltip-placement="bottom" type="button">
                    <a href="#" class="text-white font-bold" aria-current="page">CONTACT US</a>
                </button>
                <div id="tooltip-bottom3" role="tooltip"
                    class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg tooltip dark:bg-gray-700"
                    data-popper-placement="bottom">
                    Dharansh Neema - 9549325941
                    <br>
                    <br>
                    Yuvraj Sahni - 7838945120
                    <br>
                    <br>
                    Adamya Jha - 9877251425
                    <br>
                    <br>
                    Kalash Vasaniya - 8955137364
                </div> -->

                <button>
                    <a href="#about">
                        <button class="rounded-2xl p-2 px-4 py-3 text-xl font-extrabold">About
                            us</button>
                    </a>
                    <a href="#lost&found"
                        class="text-white rounded-2xl p-2 px-4 py-3 bg-[#3f3fff] hover:bg-[#1f1fff] font-extrabold text-lg"
                        aria-current="page">Lost &
                        Found</a>
            </div>
        </div>
    </nav>

    <video class="md:block hidden" autoplay muted loop id="bg-video">
        <source src="/LostSomething.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <!-- Buttons -->
    <div
        class="w-full flex justify-start md:justify-center space-x-12 pl-[4rem] md:pl-[12rem] pt-[2rem] md:pt-[10rem] ">
    </div>

    <div id="lost&found" class="bg-black flex w-full py-52 md:py-0">
        <div class="flex flex-wrap ml-28 lg:ml-36 justify-center md:justify-start max-w-xl mt-24 md:my-48">
            <h1 class="font-bold text-5xl md:text-7xl text-center md:text-left ml-10">
                Find Your <br> Lost item <br> Here!!!</h1>

            <!-- Button content -->
            <div class="w-full flex justify-center md:justify-start righttoleft space-x-4 ml-10">
                <button data-tooltip-target="tooltip-bottom2" data-tooltip-placement="bottom" type="button"
                    class="rounded-xl px-4 py-2 md:px-10 md:py-4 text-white text-2xl font-bold mt-12 space-x-3 bg-[#3f3fff] hover:bg-[#1f1fff]">
                    <a href="/found">
                        <span class="">
                            Found
                        </span>
                    </a>
                </button>
                <div id="tooltip-bottom2" role="tooltip"
                    class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg tooltip dark:bg-gray-700"
                    data-popper-placement="bottom">
                    Found something?
                    <br>
                    Click here to report it.
                </div>
                <button data-tooltip-target="tooltip-bottom1" data-tooltip-placement="bottom" type="button"
                    class="rounded-xl px-6 py-2 md:px-12 md:py-5 text-white text-2xl font-bold mt-12 space-x-3 bg-[#3f3fff] hover:bg-[#1f1fff]">
                    <a href="/lost">
                        <span>
                            Lost
                        </span>
                    </a>
                </button>
                <div id="tooltip-bottom1" role="tooltip"
                    class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg tooltip dark:bg-gray-700"
                    data-popper-placement="bottom">
                    Hey, Find your lost item!
                </div>
            </div>
        </div>
        <div class="pt-44 ml-36">
            <!-- <img src="/public/piclost&found.png" alt="Kalash"
                class="md:w-[30vw] md:mt-2 md:relative right-0 lefttoright"> -->
            <img src="/piclost&found.png" alt="Kalash"
                class="md:w-[30vw] md:mt-2 md:relative right-0 lefttoright invisible md:visible">
        </div>
    </div>

    <div class=" bg-black w-full flex h-[100%] justify-start md:justify-center space-x-12">
    </div>

    <!-- about us -->
    <div class="py-32 bg-black">
        <h2
            class="flex justify-center bg-black font-extrabold text-4xl uppercase underline decoration-gray-400 underline-offset-8">
            overview</h2>
        <div id="about" class="containe bg-black flex w-full">
            <div class="flex justify-center mt-24 mx-24 text-2xl">
                The project enables users to identify and find the things that they have lost in the past. The project
                is intended to assist VIT students in locating misplaced belongings. It is well known that students
                frequently move from their dormitory to academic buildings without regard to the course of the day.
                <br>
                <br>
                As such, it is common to misplace stuff in the midst of the chaos. Unfortunately, there is no
                platform available to locate these misplaced items. As a result, we took it upon ourselves to devise a
                solution to this problem via our website. Students can use it to conveniently locate misplaced goods
                around the campus. The items that students have discovered on campus but do not own can also be listed
                on the website for the benefit of other students.
                <br>
                <br>
                It will help the students immensely as it
                creates an ecosystem where all misplaced and found items will be available under one single platform.
            </div>
        </div>
    </div>

    <!-- footer  -->
    <div class="flex justify-between items-center bg-slate-900">
        <footer class="text-white flex sm:flex-nowrap flex-wrap sm:justify-between justify-center">

            <div class="p-5">
                <p class="text-base text-white border-l-2">
                    <span class="ml-4">
                        Copyrights © Team FOUR-X.
                    </span>
                </p>
            </div>

            <div class="p-5">
                <p class="text-base text-white">
                    <button>
                        <span
                            class="font-extrabold bg-[#3f3fff] p-2 md:p-3 transition ease-linear delay-150 duration-300 hover:bg-[#1f1fff] ">
                            <a href="https://6z236yooyhh.typeform.com/to/WP5J4BH1" target="_blank">
                                Feedback
                            </a>
                        </span>
                    </button>
                </p>
            </div>

        </footer>
    </div>
</body>
<script src="/script.js"></script>
<script src="/views/found.ejs"></script>
<script src="/views/home.ejs"></script>

</html>