<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Teko:wght@700&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
    <title>FOUR-X</title>
</head>

<style>
    .bgb {
        background-image: url('/public/Lost&Found2.jpg');
        background-image: url('/LostSomething.mp4');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<body class="text-white font-poppins bg-white bgb">

    <!-- Navbar -->
    <nav class="fixed py-6 w-full bg-black z-50 toptobottom">
        <div
            class="container flex items-center justify-center md:justify-between mx-auto px-8 md:px-14 lg:px-20 w-full">
            <div class="text-3xl font-semibold text-white">
                <span class="text-[#3f3fff]">FOUR-</span>X
            </div>

            <div class="hidden md:flex space-x-16  items-center">
                <button data-tooltip-target="tooltip-bottom3" data-tooltip-placement="bottom" type="button">
                    <a href="#" class="text-white font-bold" aria-current="page">CONTACT US</a>
                </button>
                <div id="tooltip-bottom3" role="tooltip"
                    class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg tooltip dark:bg-gray-700"
                    data-popper-placement="bottom">
                    Dharansh Neema - 9549325941
                    <br>
                    <br>
                    Yuvraj Sahni - 7838945120
                    <br>
                    <br>
                    Adamya Jha - 9877251425
                    <br>
                    <br>
                    Kalash Vasaniya - 8955137364
                </div>

                <a
                    href="https://www.canva.com/design/DAFNEG9L8-8/F_hss_tpW4W3Aldz03Ke6Q/view?utm_content=DAFNEG9L8-8&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">
                    <button class="rounded-2xl p-2 px-4 py-3 text-lg font-bold bg-[#3f3fff] hover:bg-[#1f1fff]">About
                        us</button>
                </a>
            </div>
        </div>
    </nav>

    <!-- Buttons -->
    <div
        class="w-full flex h-[100%] justify-start md:justify-center space-x-12 pl-[4rem] md:pl-[12rem] pt-[37rem] md:pt-[47rem] ">
    </div>

    <div class="containe bg-black flex w-full">
        <div class="flex flex-wrap  lg:ml-36 justify-center md:justify-start max-w-xl mt-32 md:my-48 ">
            <h1 class="font-bold text-5xl md:text-6xl lg:text-7xl text-center md:text-left righttoleft">
                Find Your <br> Lost & Found item!</h1>
            <div class="w-full flex justify-center md:justify-start righttoleft space-x-4">

                <!-- Button content -->
                <button data-tooltip-target="tooltip-bottom2" data-tooltip-placement="bottom" type="button"
                    class="rounded-xl px-4 py-2 md:px-10 md:py-4 text-white text-2xl font-bold mt-12 space-x-3 bg-[#3f3fff] hover:bg-[#1f1fff]">
                    <a href="/found">
                        <span class="">
                            Found
                        </span>
                    </a>
                </button>
                <div id="tooltip-bottom2" role="tooltip"
                    class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg tooltip dark:bg-gray-700"
                    data-popper-placement="bottom">
                    Found something?
                    <br>
                    Click here to report it.
                </div>
                <button data-tooltip-target="tooltip-bottom1" data-tooltip-placement="bottom" type="button"
                    class="rounded-xl px-6 py-2 md:px-12 md:py-5 text-white text-2xl font-bold mt-12 space-x-3 bg-[#3f3fff] hover:bg-[#1f1fff]">
                    <a href="/lost">
                        <span>
                            Lost
                        </span>
                    </a>
                </button>
                <div id="tooltip-bottom1" role="tooltip"
                    class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg tooltip dark:bg-gray-700"
                    data-popper-placement="bottom">
                    Hey, Find your lost item!
                </div>
            </div>
        </div>
        <div class="pt-44 pl-40">
            <!-- <img src="/public/piclost&found.png" alt="Kalash"
                class="md:w-[30vw] md:mt-2 md:relative right-0 lefttoright"> -->
            <img src="/piclost&found.png" alt="Kalash"
                class="md:w-[30vw] md:mt-2 md:relative right-0 lefttoright">
        </div>
</body>
<script src="/script.js"></script>
<script src="/views/found.ejs"></script>
<script src="/views/home.ejs"></script>

</html>